@media print {
    body *:not(#printImage):not(#printImage *) {
       visibility: hidden;
    }

/*    .printImage, .printImage * {
        display: block;
    }*/

/*    .printImage, .printImage * {
        display: block;
    }*/
}
