@model New_Employee_Profile.Models.NewEmployee

@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<h4>NewEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OName" class="control-label"></label>
                <input asp-for="OName" class="form-control" />
                <span asp-validation-for="OName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-for="SectionId" class="form-control" asp-items="ViewBag.SectionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpTypeId" class="control-label"></label>
                <select asp-for="EmpTypeId" class="form-control" asp-items="ViewBag.EmpTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentDate" class="control-label"></label>
                <input asp-for="EmploymentDate" class="form-control" />
                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentEndDate" class="control-label"></label>
                <input asp-for="EmploymentEndDate" class="form-control" />
                <span asp-validation-for="EmploymentEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageUpload" class="form-control" />
                <img id="imgpreview" class="pt-2" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-xl-12" style="margin-top:40px;">
    @foreach (var modeleState in ViewData.ModelState.Values)
    {
        foreach (var error in modeleState.Errors)
        {
            <h5 style="color:red;margin-top:8px;">@error.ErrorMessage</h5>
        }
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>*@
    <script>
        $("#ImageUpload").change(function() {
                readURL(this);
        });

        //CKEDITOR.replace( 'Description' );
    </script>

}