@model New_Employee_Profile.Models.NewEmployee

@{
    ViewData["Title"] = "Details";
}

@*<link rel="stylesheet" href="/css/ProfileCss.css" />*@
<div id="printImage">

    ABC
</div>
<h1>Details</h1>
<hr />
<!-- Outer container, full page width and height, red border -->
<div  class="container-fluid d-flex justify-content-center align-items-center" style="height:80vh; overflow:hidden; border: 2px solid red">

    <!-- Inner row 1, final image container, centered, blue border -->
    <div  class="row text-center d-flex justify-content-center " style="overflow: hidden; background-color: #21468a; width: 30vw; height: 70vh; border: 1px solid #21468a ">

        <!-- Inner row for Emp image, wraps automatically, automatically centered -->
        <div class="row text-center d-flex mt-4 p-0" style="overflow: hidden; width: 25vw; height: 50vh; border: 1px solid #21468a">

            <!-- Innermost text, wraps automatically, automatically centered -->
            <img src="/media/newEmployees/@Url.Content(Model.ImageName)" class="mx-auto object-fit-cover d-block img-fluid p-0" alt="" />

        </div> <!-- Inner row -->

        <div style="color:white">
            <h4>@Model.FName @Model.LName</h4>
        </div>

        <div style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-style: italic; font-weight: normal;
                    text-decoration: none; text-transform: none; font-variant: small-caps;">
            <p>@Model.Section.Name @Model.Role.Name </p>

        </div>


    </div> <!-- Inner row -->


</div>

<div class="container-fluid d-flex justify-content-center align-items-center">


    <a asp-action="Index" class="btn btn-primary mx-auto">Back</a>  <a href="#" class="btn btn-primary mx-auto">Print</a>
</div>



<input id="print" type="button" onclick="PrintDiv()" value="Print" />

<script type="text/javascript">
        //function PrintDiv() {
    var divToPrint = document.getElementById('print');
    divToPrint.addEventListener('click', function () {
        print();
    })
            //var popupWin = window.open('', '_blank',);
            ////'width=300,height=400,location=no,left=200px'
            //popupWin.document.open();
            //popupWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
            //popupWin.document.close();

            //print();
        //}
</script>



